@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Inter:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(77, 10, 140);
    width: 100%;
    position:relative;
    z-index: 99999;
    
    
}
ul,a{
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#logo2{
    width: 200px;
}
.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 34px;
    

}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 40px;
    
}
.link{
    transition: 0.5s;
}
.link:hover{
    color: rgb(252, 252, 0);
}
.hamburguer{
    display: none;
    cursor: pointer;
    
    
    

}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    
    


}
@media (max-width:768px){
    .hamburguer{
        display: block;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
     transform: translateY(8px) rotate(45deg);
     }
     .hamburguer.active .bar:nth-child(3){
         transform: translateY(-8px) rotate(-45deg);
     }
     .nav-menu{
         position: fixed;
         left: -100%;
         top: 70px;
         gap: 0;
         border-radius: 0 0 20px 20px;
         background-color: rgb(77, 10, 140);;
         text-align: center;
         flex-direction: column;
         width: 100%;
         transition: 0.3s;
         
     }
     .menu-item{
         margin: 16px 0;
     }
     .nav-menu.active{
         left: 0;
     }
 }

 /*conteudo secundario */


 

 .titulo-principal{

     display: flex;
     justify-content: center;
     padding: 20px 0 20px;
     margin: 40px 0 0px;
     color: rgb(76, 76, 76);
     font-weight: 800;
     font-family: 'Inter', sans-serif;
      
 }

 .content-search{
    width: 100%;
    max-width: 768px;
    padding: 10px 10px 10px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    border: 1px solid rgb(93, 93, 93);
    font-size: 18px;
    color: black;
}

.btn-search{
    padding: 10px 10px 10px;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    margin: 0px 0px 0px;
    width: 90px;
    background-color: blueviolet;
    color: rgb(244, 244, 244);
    font-size: 16px;
    border-style: none;
    
    
}

.pesquisa{
    display: flex;
    justify-content: center;
    margin: 70px 0px 0px 70px;
    
}
 

 .card-title{
     font-size: 26px;
     display: flex;
     align-items: center;
     justify-content: center;
     
 }
 .card-text{
     color: rgb(97, 97, 97);
     font-size: 16px;
     margin: 0px 20px 0px;

 }
 .preco{
     display: flex;
     justify-content: center;
     color: black;
     font-family: 'Inter', sans-serif bold;
     font-weight: 700;
     font-size: 30px;
     
 }

 #botao{
     
     background-color: rgb(77, 10, 140);
     color: #fff;
     border-radius: 10px;
     width: 100px;
     height: 50px;
     border-style: none;
     margin: 10px 5px 5px 10px;
     

 }
 .botao{
     display: flex;
     justify-content: right;
     
     
 }
 #botao:hover{
     background-color: rgb(109, 28, 184);
 }

 /* footer */

 .footer{
     background-color: rgb(179, 178, 178);
     margin: 80px 0px 0px 0px ;
     padding-top: 100px;
     width: 100%;
     clear: both;
    
      
 }
 #logo-footer{
     width: 100px;
     display: flex;

 }
 .logo-footer{
     display: flex;
     justify-content: center;
 }
 .conteudo-paragrafo{
    
    text-align: center;
    color: white;
    border-top: 0.4px solid #f7f6f4;
    font-size: 16px;
    padding-bottom: 4px;
 }
 /*Pagina Destinos*/


.titulo-destinos{
    display: flex;
     justify-content: center;
     color: rgb(76, 76, 76);
     font-weight: 800;
     font-family: 'Inter', sans-serif;
     margin-top: 30px ;

}

.paragrafo{
    display: flex;
    justify-content: center;
    color: rgb(76, 76, 76);
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    margin-top: 10px ;
    margin-bottom: 70px; 
}
.text-muted{
   display: flex;
   justify-content: center;
   font-size: 18px;
   
   
}
.preco-promocao{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 12px;
    color: red;
    margin-bottom: 0px;
    
    
}
.preco-promocao2{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 600;
    color: black;

}
/* pagina contatos*/

.container-form{
    width: 80%;
    background-color: #f7f6f4;
    border-radius: 6px;
    padding: 20px 60px 20px 40px;
    box-shadow: 0 5px 10px rgb(30, 30, 30);
    margin: 80px 80px 80px 80px;

}
.container-form .content-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-form .lado-esquerdo::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translatey(-50%);
    background-color: rgb(0, 0, 0);

}
.content-form .lado-esquerdo .endereços{
    margin: 14px;
    text-align: center;
    font-size: 20px;
    color: rgb(76, 0, 124);
    margin-bottom: 10px;


}
.content-form .lado-esquerdo .endereços .topic{
    font-size: 18px;
    font-weight: 800;
}
.content-form .lado-esquerdo .text-one,
.content-form .lado-esquerdo .text-two{
font-size: 14px;
color: rgb(41, 40, 40);

}
.container-form .content-form .lado-direito{
    width: 75%;
    margin-left: 75px;


}
.content-form .lado-direito .title-form{
    font-size: 26px;
    font-weight: 500;
    color: rgb(41, 40, 40);
    padding-left: 40px;
    display: flex;
    justify-content: center;

}

.lado-direito .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
    padding-left: 30px;


}

textarea{
   
   width: 100%;
   
}
.input-box-caixa-msg{

    padding-left: 30px;
    
}

    
input{
    width: 100%;
}

.button-box{
    display: flex;
    justify-content: flex-end;
    
}
.botao-box{
    background-color: rgb(76, 0, 124);
    border-radius: 8px;
    width: 60px;
    border-style: none;
    color: white;


}
@media (max-width: 820px) {
    .container-form{
      margin: 40px 0;
      height: 100%;
    }
    .container-form .content-form{
      flex-direction: column-reverse;
    }
   .container-form .content-form .lado-esquerdoe{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container-form .content .lado-esquerdo::before{
     display: none;
   }
   .container-form .content-form .lado-esquerdo{
     width: 100%;
     margin-left: 0;
   }
  }